img{width:100%}

.gallery {
  margin-top: 10px;
}
.gallery h1{
text-transform: uppercase;
text-align: center;
font-size: 2em;
}

hr{
  border-color: #0d0d0d;
}
body {
  background-color: #f72f2f;
  font-family:sans-serif;
  color: #0d0d0d;
  margin: 0;
    padding: 10px;
}
#navbar{
  background-color: #575555;
   display: flex;
   justify-content: center;
}
#navbar a {
  color: #f9f6f6;
  text-decoration: none;
  padding: 14px 20px;
}
a:hover  {
  background-color: #1c1b1b;
}